<h2>About us</h2>
<div class="row">
  <div class="col-xs-6 col-md-2">
    <img class="personal" src="images/image-placeholder.jpg" alt="">
    <p>Contact</p>
    <p>email@adress</p>
    <p>+46707559020</p>
  </div>
  <div class="col-xs-6 col-md-2">
    <img class="personal" src="images/image-placeholder.jpg" alt="">
    <p>Contact</p>
    <p>email@adress</p>
    <p>+46707559020</p>
  </div>
  <div class="col-xs-6 col-md-2">
    <img class="personal" src="images/image-placeholder.jpg" alt="">
    <p>Contact</p>
    <p>email@adress</p>
    <p>+46707559020</p>
  </div>
  <div class="col-xs-6 col-md-2">
    <img class="personal" src="images/image-placeholder.jpg" alt="">
    <p>Contact</p>
    <p>email@adress</p>
    <p>+46707559020</p>
  </div>
  <div class="col-xs-6 col-md-2">
    <img class="personal" src="images/image-placeholder.jpg" alt="">
    <p>Contact</p>
    <p>email@adress</p>
    <p>+46707559020</p>
  </div>
</div>
