<div class="pad-20px content-home">
  <h1>Hernqvist</h1>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam facilis est nam distinctio porro deleniti ullam ad optio officia eos fugiat sit magnam error alias nulla harum adipisci, aliquid, nesciunt numquam. Praesentium maiores temporibus quos impedit odio sint illum quasi quisquam, eius hic minima quaerat delectus, facere id nobis ad.</div>
  <div class="logo">
    <img class="main-img" src="images/image-placeholder.jpg" alt="Logo image">
  </div>
</div>
